.header {
  display: flex;
  justify-content: space-between;
  padding: 16px 0;
  margin-bottom: 16px;
  font-size: 25px;
  font-weight: bolder;
  text-shadow: 2px 2px 5px rgba(223, 56, 56, 0.5);
  border-bottom: 1px solid var(--PRIMARY);
}

.hamburgerIcon {
  display: flex;

  @media screen and (min-width: 768px) {
    display: none;
  }
}
